*{
    margin: 0;
    padding: 0;
}

body {
    border-radius: 3px;
    background-color: rgb(181,216,255);
    padding: 5px 10px;
}

.header-text {
    display: inline-block;
    vertical-align: middle;
}
.navigation {
  list-style: none;
  margin: 0px;
  padding: 5px;
}

.navigation a {
    display: block;
    padding: 5px 0px;
    color: rgb(86,40,129);
    text-decoration: none;
}


