@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");
html {
    font-family: Helvetica, sans-serif;
}

body {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

header {
    width: 60%;
    margin: 0 auto;
   display: flex;
   justify-content: space-between;   
   align-items: center;
}

.navigation-bar {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.black {
    color: #454545;
}

.blue {
    color: #21a2bc;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

li {
    padding-left: 35px;
}

.active {
    border-bottom: 3px solid #21a2bc;
}

ul li a {
    color: #454545;
    text-decoration: none;
    padding-bottom: 4px;
}

.banner-section {
    position: relative;
}

.banner-image {
    width: 100%;
    object-fit: cover;
}

.banner-info {
    position: absolute;
    top: 320px;
    left: 20%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 35px;
    padding: 15px;
}

.main-heading:nth-child(1) {
    margin-top: 0px;
}

.main-heading:nth-child(2) {
    margin-top: -40px;
    margin-bottom: 0px;
}

.get-started {
    border-radius: 30px;
    border: none;
    color: white;
    background-color: #008cba;
    padding: 10px 35px;
    font-size: 18px;
    margin-top:15px;
}

.welcome {
    width: 100%;
    margin: 0 auto 0 auto;
    text-align: center;
    padding: 10px 20%;
    background: white;
    color: #454545;
}

.welcome hr {
    height: 3px ;
    background-color: #21a2bc;
    border: none;
    width: 8%;
    margin-top: -10px;
}

.welcome-description {
    font-size: 16px;
}

.welcome-button {
    border-radius: 30px;
    border: none;
    color: white;
    background-color: #454545;
    padding: 10px 25px;
    font-size: 16px;
    margin-top: 10px
}

.services {
    background-color: #eef0f1;
    color: #454545;
    text-align: center;
    padding-bottom: 50px;
}

.services-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 0;   
}

.services-heading {
    padding-top: 40px;
}

.personal {
    border-radius: 4px;
    margin-left: 2.5%;
    font-size: 16px;
    background-color: white;
}

.service-description {
    padding: 0px 15px;
}

.image-wrapper img {
    border-radius: 4px;
    width: 100%;
    object-fit: cover;
}

.services-hr {
    height: 3px ;
    background-color: #454545;
    border: none;
    width: 5%;
    margin-top: -10px;
}

.service-read-more {
    border-radius: 4px;
    border: none;
    color: white;
    background-color: #454545;
    padding: 8px 20px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.news {
    background: #393f43;
    color: white;
    text-align:center;
    margin-top: -20px;
}

.newsletter-wrapper {
    padding-top: 20px;
    padding-bottom: 45px;
}

.newsletter-hr {
    height: 3px ;
    background-color: white;
    border: none;
    width: 5%;
    margin-top: -10px;
}

.newsletter-info {
    font-size: 16px;
}

input {
    margin-top: 15px;
    border-radius: 5px;
    border: none;
    height: 35px;
    padding: 5px 15px 5px 15px;
}

.email {
    background-color: #545a5e;
    padding-left: 15px;
    width: 30%;
    font-style: italic;
}

.subscribe {
    padding-right: 40px;
    padding-left: 50px;
    font-size: 18px;
    background-color: #6bbfff;
    color: white;
}

footer {
    background-color: #2f3539;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0;  
    color: white;
    padding-top: 25px;
    padding-bottom: 30px;
    font-size: 16px;
}

.single-footer-section ul li{
    margin-left: 0px;
    padding-left:0px;
    margin-bottom: 15px;
}

.footer-section-heading {
    font-size: 19px;
}

i {
    margin-right: 12px;
}

.copyright {
    text-align: center;
    background-color:#262b2f;
    color: white;
    padding: 6px 0px 6px 0px;
    font-size: 16px;
}

.copyright a {
    color: #0481aa;
    text-decoration: none;
}