body {
    background-color: #e4e978;
}

body article {
    border: 1px solid #b2ad7d;
    background-color: #f2f4c0;
    padding: 5px 15px;
    margin: 15px 10px;
}

body section article{
    border: 1px solid #b2ad7d;
    background-color: #f2f4c0;
    color: #4c7658;
    font-style: italic;
    padding: 15px 10px;
}