@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");
*{
    margin: 0;
    padding: 0;
}

body {
    padding-top: 100px;
}

.work {
    background-color: #234465;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 180px;
    text-align: center;
    border-radius: 5px;
    margin-left: 20px;
    padding: 45px 0;
    position: relative;
}

.work-icon {
    color: #234465;
    background-color: white;
    border: 3px solid #234465;
    width: fit-content;
    margin: 0 auto;
    border-radius: 50%;
    padding: 6px 6px 6px 6px;
    font-size: 23px;
    position: absolute;
    top: -20px;
    left: 70px;
}




