* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  box-sizing: border-box;
}

body{
  width: 1680px ;
  margin: 0 auto;
  
}



.site-header {
  background-color: rgb(240, 158, 6);
  position: fixed;
  top: 18px;
  width: 660px;
  border: 2px solid turquoise;
  border-radius: 12px;
  box-shadow: 10px 10px 4px turquoise;
  margin-left: 470px;
  text-align: center;
  padding: 30px 0;
}

.site-header h1{
  padding: 20px;
}



.site-main {
  background-color: rgb(7, 26, 41);
  padding: 100px;
  height: 1500px;
}

.site-main .action {
  background-color: rgb(12, 158, 85);
  padding: 28px 10px;
  margin: 20px 0;
}

.first-article {
  background-color: rgb(46, 67, 90);
  padding: 20px 10px;
  margin: 20px 0;
}

.second-article {
  background-color: crimson;
  padding: 20px 10px;
  margin: 20px 0;
}

