body {
    background: rgb(238, 238, 238) ;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card {
    border-radius: 6px;
    background: rgb(255, 255, 255);
    padding: 12px 16px;
    box-shadow: 0px 0px 15px 7px #9B9B9B;
    width: 360px;
    height: 150px;
}

.title {
    margin: 5px;
}

.text {
    line-height: 1.5;
    font-family: Helvetica, sans-serif;
}
