body{

    background-color: rgb(220, 220, 220);

}
#gallery{
   
    list-style: none;
    position: top;
    float: left ;
    margin: 20px;
        
}


section li{

    background-color: white;
    vertical-align: middle;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border-width: 0.4rem; 
    border-style: solid;
    border-color: black;
}

.big {

    width: 300;
   
}



