@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body {
    font-family: Helvetica, sans-serif;
}

/* header */

header {
    text-transform: uppercase;
    display: inline-block;
    padding: 20px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

.title {
    font-size: 1.5rem;
    margin-right: 400px;
    
}

.title, .navigation {
    display: inline-block;
} 

h1 {
    border-right: 2px solid rgb(228,228,228);
    
   
}

span {
    font-size: 0.7rem;
}

h1, span {
    display: inline-block;
    padding: 0px 15px;
    vertical-align: middle;
    color: rgb(42, 54,57);
}

.navigation ul li {
    display: inline-block;
    background: rgb(236, 236, 236);
    font-size: 0.7rem;
    padding: 20px 15px;
}

a {
    color: rgb(42, 54,57);
    text-decoration: none;
    cursor: pointer;
}

.navigation ul .homepage {
    background: rgb(226, 78, 42);
}

.homepage a {
    color: white;
}

/* main */


main .container {
   width: 100%;
   position: relative;
   margin-bottom: 60px;
}

.container img {
    width: 100%;
}

.description {
    color: white;
    background: rgb(226, 78, 42);
    text-align: center;
    line-height: 1.5;
    padding: 77px 100px 100px 100px;
    position: absolute;
    top: 800px;
}

.services {
    
    width: 100%;
    margin: 0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
    background: rgb(56,56,56);
    padding: 30px 20px;
    gap: 10px
}

.services div {
    text-align: center;
    width: 30%;
}

.services div i {
    color: white;
    font-size: 3rem;
    padding: 40px 40px;
    background: rgb(226, 78, 42);
}

.services p {
    padding-top: 5px;
    line-height: 1.5;
}

.promo {
    color: white;
    font-size: 1.2rem;
    padding-bottom: 10px;
}

.promo-text {
    color: rgb(92,93,92);
    border-top: 2px solid rgb(92,93,92);
    padding-top: 20px;
    font-size: 0.9rem;
    line-height: 1.5;;
}


.list {
    background: white;
    padding: 60px 80px;
    text-align: center;
}

.message {
    color: rgb(56,56,56);
    font-weight: 200;
    font-size: 1.9rem;
    border-right: none;
    padding-bottom: 10px;
}

.message-text {
    text-transform: uppercase;
    color: rgb(92,93,92);
    padding-bottom: 40px;
}

.check {

    color: white;
    background: rgb(27,151,114);
    padding: 20px 40px;
    letter-spacing: 1.5;

}

.more-services {
    
    width: 100%;
    margin: 0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
    background: rgb(56,56,56);
    padding: 30px 20px;
    gap: 10px
}

.more-services div {
    text-align: center;
    width: 30%;
}

.services p {
    padding-top: 5px;
    line-height: 1.5;
}

.more-promo {
    color: white;
    font-size: 1.2rem;
    padding-bottom: 10px;
}

.more-promo-text {
    color: rgb(92,93,92);
    padding-top: 20px;
    font-size: 0.9rem;
    line-height: 1.5;;
}



footer {
    background: rgb(27,151,114);
    color: rgb(92,93,92);
    font-size: 0.7rem;
    text-align: center;
    padding: 50px 60px;

}

.footer-span {
    font-weight: 700;
    color: white;
    padding: 0px 0px 3px 0px;
}