#articlesSection {

    max-width: 1200px;
    margin: 0 auto;
    padding: 64px 0 calc(64px - 32px) 0;
}

#articlesSection .title {

    font-size: 32px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 64px;
    color: #2d3748;
}

/* 
Articles Listing
---------------- 
*/

.articles li {

    display: inline-block;
    width: 30%;
    margin-right: 4.6%;
    margin-bottom: 32px;
    vertical-align: top;
    

}

.articles li:nth-child(3n+3) {
 margin-right: 0;

}

/* 
Article Component 
------------------ 
*/

.article {

    width: 100%;
}

.article .article_img_wrapper {
    aspect-ratio: 1 / 1;
    border-radius: 21px;
    margin-bottom: 12px;
    overflow: hidden;
}

.article .article_img_wrapper .article_img {

    object-fit: cover;
    height: 100%;
    width: 100%;

}

.article .article_title {

    font-size: 21px;
    font-weight: bold;
    line-height: 28px;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.article .article_description {

    font-size: 16px;
    font-weight: 300;
    color: #718096;
    line-height: 22px;
    margin-bottom: 12px;
}


/* 
Tag Component
-------------- 
*/
.tag {

    display: inline-block;
    margin-bottom: 12px;
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 6px;

}

.tag.tag--info {

    background-color: #90cdf4;
    color: #2c5282;

}

.tag.tag--success {

    background-color: #9ae6b4;
    color: #276749;

}

.tag.tag--warning {

    background-color: #faf089;
    color: #975a16;

}

.tag.tag--danger {

    background-color: #feb2b2;
    color: #9b2c2c;

}


