body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 100;
    color: white;
    background-color: darkslategrey;
    width: 1600px;
    margin: 0 auto;
    padding: 15px 20px;
    letter-spacing: 3;

}

.image {
    float: left;
    width: 600;
    margin: 15px 15px 10px 15px;
    border: 3px solid rosybrown;
}

.text {
    font-weight: 100;
    text-align:justify;
    text-indent: 50px;
}

