@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");

body {
   height: auto;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1.4rem;
} 

.container, footer {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient( ellipse farthest-corner at 10px 10px , #d9dbfd, #d9dbfd 50%, #e5e5f7 50%);
    background-size: 10px 10px;
    
}
header {
    padding: 30px 30px 30px 20px;
    display: flex;
    flex-grow: 1;
    align-items: baseline;
}

.title {
    flex-basis: 60%;

}

.title .site-name {
    color: purple;
    font-size: 2.4rem;
}
.title .motto {
    font-family: 'Arial Narrow', sans-serif;
    font-size: 0.7rem;
    text-transform: uppercase;
    line-height: 1.8;
    font-weight:bold ;
}
.navigation, li, p {
    font-family: Helvetica, sans-serif;
    
}

.navigation ul {
    display: inline-block;
    list-style: none;
}

.navigation li {
    display: inline-block;
    margin-right: 15px ;
}

.navigation a {
    text-decoration: none;
    color: black
}

.need-a-website-section {
    font-family: Merriweather, serif;
    width: 50%;
    margin: 0 auto;
    padding-top: 130px;
}

.need-a-website-section .description {
    
    font-size: 1.5rem;
    /* font-weight: bold; */

}

.need-a-website-section .text {
    font-size: 0.8rem;
    line-height: 1.5;
    padding: 10px 0px;
    margin-bottom: 10px;
}

.need-a-website-section i {
    font-size: 5rem;
    float: right;
    padding: 10px;
}

span {
    font-size: 0.6rem;
    border: 1px solid black;
    padding: 5px 10px;
    
}

.our-team-section {
    padding: 50px 20px;
    display: flex;
    flex-wrap: wrap;
}

.our-team-section .team {
    width: 30%;
    font-size: 1.5rem;
    padding: 20px 20px;
    margin-bottom: 20px;
    flex-basis: 95%;
    text-align: center;
    
}



.employee {
    width: 30%;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 20px;
    
}

.employee img {
    width: 30%;
    border-radius: 50%;
    margin-bottom: 10px;
}

.employee .name {
    margin-bottom: 10px;
}

.employee .position {
    margin-bottom: 10px;
}

blockquote {
    width: 50%;
    font-style: italic;
    margin: 0 auto;
    padding-top: 10px;
    margin-bottom: 20px;
    
}

.newsletter-section {
    background: purple;
    padding: 20px 15px;
    text-align: center;
}

.newsletter-section h1 {
    font-family: Merriweather, serif;
    color:white;
    font-size: 1.5rem;    
}

.newsletter-section form {
     padding: 20px 20px;
}

.newsletter-section input {
    padding: 5px 10px;
}

.newsletter-section .btn {
    padding: 5px 10px;
}

.testimonials-section {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-size: 10px 10px;
    background-image: repeating-linear-gradient(45deg, #d9dbfd 0, #d9dbfd 1px, #e5e5f7 0, #e5e5f7 50%);
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #585858;
    box-shadow: 0px 0px 5px 5px #585858;
}

.testimonials-section .testimonials {
    width: 30%;
    font-size: 1.5rem;
    padding: 20px 20px;
    margin-bottom: 20px;
    flex-basis: 95%;
    text-align: center;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
    line-height: 1.5;
    padding: 40px 30px;
}

.description {
    flex-basis: 30%;
}

.sitemap {
    flex-basis: 30%;
}

.sitemap h2, .contacts h2 {
    padding: 0px 40px;
}

.home {grid-area: "home";}
.about {grid-area: "about";}
.services {grid-area: "services";}
.blog {grid-area: "blog";}
.contacts {grid-area: "contacts";}
.terms {grid-area: "terms";}
.privacy {grid-area: "privacy";}

footer .sitemap ul {
    width: 35%;
    /* margin: 0 auto; */
    list-style: none;
    display: grid;
    grid-template-columns: 100px 200px;
    grid-template-areas: 
    "home about"
    "service blog"
    "contacts terms"
    "privacy privacy";
    text-align: left;
    gap: 5px;

}



footer a{
    text-decoration: none;
    color: black;
}

.contacts {
    flex-basis: 30%;
}

.contacts ul{
    list-style: none;
}










