@media only screen and (max-width: 600px) {

   
   #news, #main-menu, .main-menu-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }



    aside {
        width: 100%;
        padding-top: 20px;
    }

    #news article {
        width: 100%;
    }

    li {
        border: 1px solid rgb(229,34,54);
        padding: 0px 30px;
        

    }

    #top-bar {
        width: 100%;
    }

    #left-aside {
        margin: 0 auto;
    }

    #left-aside article {

        display: inline-block;
        padding: 0px 20px;
        border-bottom: none;
        
    }


    #right-aside {
        width: 100%;
        text-align: left;
    }

    #top-bar ul li {
        padding: 8px;
    }
    
    #top-bar ul li i {
        padding: 3px;
    }

    footer ul {
        display: unset;
    }



}
    

